name: Delete Images

on:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  delete-images-from-b2:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Execute script
        run: npm run delete-images
        env:
          B2_ACCESS_KEY_ID: ${{ secrets.B2_ACCESS_KEY_ID }}
          B2_SECRET_ACCESS_KEY: ${{ secrets.B2_SECRET_ACCESS_KEY }}
          B2_ENDPOINT: ${{ secrets.B2_ENDPOINT }}
          B2_REGION: ${{ secrets.B2_REGION }}
          B2_BUCKET: ${{ secrets.B2_BUCKET }}
